@model IEnumerable<Category>
@{
    Layout = "~/Views/Shared/_LayoutConfig.cshtml";
}

<div class="container mb-4 ml-3">
    <div class="row mb-4 mt-3 mr-3 justify-content-end">
        <a role="button" class="btn btn-outline-info" asp-action="AddOrModifyCategory" asp-controller="Category" asp-area="Admin"><i class="fas fa-plus"></i>  Add New Category</a>
    </div>
    <table id="CategoryTable" class="ui celled table text-center" style="width:100%">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Active</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>

@section _Scripts{
    <script src="~/js/Admin/Category.js"></script>
}