@{
    Layout = "~/Views/Shared/_LayoutConfig.cshtml";
}

<div class="container-fluid">
    <div class="row charts">
        <div class="card chart-card" style="width:30rem;">
            <div class="card-body" id="chart-body">
            </div>
        </div>
    </div>
</div>

@section _Scripts{
    <script src="~/js/Admin/Dashboard.js"></script>
}