@model Category
@{
    Layout = "~/Views/Shared/_LayoutConfig.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 m-2 mt-5">
            <div class="text-center text-success mb-5">
                @if (Model.Id != Guid.Empty)
                {
                    <h3>Update Category</h3>
                    <input type="hidden" asp-for="Id" />
                }
                else
                {
                    <h3>Add New Category</h3>
                }
            </div>
            <form asp-action="AddOrModifyCategory">
                @if (Model.Id != Guid.Empty)
                {
                    <input type="hidden" asp-for="Id" />
                }
                <div class="form-group row mb-5">
                    <div class="col-md-2">
                        <label asp-for="CategoryName" class="control-label font-weight-bold"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="CategoryName" class="form-control" required maxlength="100" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </div>

                @if (!Model.IsActive && Model.Id != Guid.Empty)
                {
                    <div class="form-group row mb-5">
                        <div class="col-md-2">
                            <label class="control-label font-weight-bold"> Activate Category</label>
                        </div>
                        <div class="col-sm-8">
                            <label class="switch">
                                <input type="checkbox" asp-for="IsActive" class="default">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                }
                @if (Model.Id == Guid.Empty)
                {
                    <div class="form-group row justify-content-center mb-5">
                        <button type="submit" class="btn btn-lg btn-outline-info mr-2"><i class="far fa-save"></i> Save</button>
                        <a role="button" class="btn btn-lg btn-outline-info mr-2" asp-action="Index"><i class="fas fa-times"></i> Back to List</a>
                    </div>
                }
                else
                {
                    <div class="form-group row justify-content-center mb-5">
                        @if (Model.IsActive)
                        {
                            <button type="button" class="btn btn-lg btn-outline-danger mr-2" onclick=DeleteConfirm("/Admin/Category/SoftDelete/@Model.Id")><i class="far fa-trash-alt"></i> Soft Delete</button>
                        }
                        <button type="submit" class="btn btn-lg btn-outline-info mr-2"><i class="far fa-save"></i> Update</button>
                        <a role="button" class="btn btn-lg btn-outline-secondary mr-2" asp-action="Index"><i class="fas fa-times"></i> Back to List</a>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

@section _Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Admin/Category.js"></script>
}