/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.footer {
    position: relative;
    clear: both;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*Custom common css*/

.active {
    font-weight: bolder !important;
}

.hidden {
    display: none !important;
}

.pointer {
    cursor: pointer !important;
}

/*Checkbox*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

.switch-for-box {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 40px;
}

    /* Hide default HTML checkbox */
    .switch-for-box input {
        display: none;
    }
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

.slider-for-box {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider-for-box:before {
        position: absolute;
        content: "";
        height: 33px;
        width: 40px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider-for-box:before {
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(44px);
}

input.default:checked + .slider {
    background-color: #28a745;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

input.default:checked + .slider {
    background-color: #444;
}

/*Configuration*/

.config-button {
    border: 1px solid #969696 !important;
    width: 80px !important;
    height: 80px !important;
    border-radius: 10px !important;
    box-shadow: 1px 1px 5px #bdbdbd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .config-button:hover {
        color: #18BC9C !important;
        border: 1px solid #18BC9C !important;
        box-shadow: 2px 2px 5px #969696;
    }

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a.active {
    color: #18BC9C !important;
    border: 1px solid #18BC9C !important;
    box-shadow: 2px 2px 5px #969696;
}

/*Loading spinner*/
/*div#spinner {
    display: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: url(spinner.gif) no-repeat center #fff;
    text-align: center;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2;
    overflow: auto;
}*/

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

    /* IMAGE STYLES */
    [type=radio] + .fas {
        cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + .fas {
        text-shadow: 2px 2px 2px #000;
        color: #18BC9C !important;
    }

.pro-details .nav-item {
    height: 50px;
}

.card-product:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}

.card-product .price-new, .card-product .price {
    margin-right: 5px;
}

.card-product .price-old {
    color: #999;
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}

    .card-product .img-wrap img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }

.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}

.card-product .action-wrap {
    padding-top: 4px;
    margin-top: 4px;
}

.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.card-product .title {
    margin-top: 0;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

#LogoField:disabled {
    opacity: 0 !important;
}

input[type="checkbox"][id^="cb"] {
    display: none;
}

.weightbox-label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .weightbox-label::before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    .weightbox-label .weight-box {
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

:checked + .weightbox-label {
    border-color: #000;
}

    :checked + .weightbox-label::before {
        content: "✓";
        background-color: #28a745;
        transform: scale(1);
    }

    :checked + .weightbox-label .weight-box {
        transform: scale(0.9);
        box-shadow: 0 0 5px #333;
        z-index: -1;
    }

/*Product Details*/

.product-img-preview {
    width: auto;
    height: 50vh;
    max-height: 50vh;
}

.carousel-item {
    background-color: lightgrey;
}

.checked {
    color: orange;
}

/*@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}*/

/*.fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 0%;
    content: attr(data-count);
    font-size: 40%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    color: #18BC9C;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    background: white;
    border-style: solid;
}*/

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-font {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    font-family: Comic Sans MS;
}

.box-shadow-dark {
    box-shadow: 0px 1px 5px 0px #000;
}

.box-shadow-gray {
    box-shadow: 0px 1px 5px 0px gray;
}

/*.summary-body {
    background-color: gainsboro;
}*/

.product-card {
    box-shadow: 1px 1px 2px #969696;
}

    .product-card:hover {
        box-shadow: 2px 2px 4px #969696;
        color: #000 !important;
    }

.fb {
    background-color: #3B5998;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        font-size: 0.75rem;
        position: absolute;
        right: 0;
        font-family: sans-serif;
    }

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        top: -10px;
    }

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 60px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 60px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 60px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 60px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

.expand {
    width: 15rem !important;
}

.nav-btn {
    width: 100%;
    text-align: right;
    color: rgba(255,255,255,.5);
}

    .nav-btn:hover {
        color: rgba(255,255,255,1);
    }

.list-group-item {
    background-color: #fff0 !important;
}

.rating-num {
    margin-top: 0px;
    font-size: 54px;
}

.progress {
    margin-bottom: 5px;
}

.progress-bar {
    text-align: left;
}

.rating-desc .col-md-3 {
    padding-right: 0px;
}

.sr-only {
    margin-left: 5px;
    overflow: visible;
    clip: auto;
}

.rating-input .fas {
    color: gold;
}

.rating-input {
    font-size: 1.5rem
}