/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*Custom common css*/

.active {
    font-weight: bolder !important;
}

.hidden {
    display: none !important;
}

.pointer {
    cursor: pointer !important;
}

/*Checkbox*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

.switch-for-box {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 40px;
}

    /* Hide default HTML checkbox */
    .switch-for-box input {
        display: none;
    }
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

.slider-for-box {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider-for-box:before {
        position: absolute;
        content: "";
        height: 33px;
        width: 40px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider-for-box:before {
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(44px);
}

input.default:checked + .slider {
    background-color: #28a745;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

input.default:checked + .slider {
    background-color: #444;
}

/*Configuration*/

.config-button {
    border: 1px solid #969696 !important;
    width: 80px !important;
    height: 80px !important;
    border-radius: 10px !important;
    box-shadow: 1px 1px 5px #bdbdbd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .config-button:hover {
        color: #18BC9C !important;
        border: 1px solid #18BC9C !important;
        box-shadow: 2px 2px 5px #969696;
    }

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a.active {
    color: #18BC9C !important;
    border: 1px solid #18BC9C !important;
    box-shadow: 2px 2px 5px #969696;
}

/*Loading spinner*/
/*div#spinner {
    display: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: url(spinner.gif) no-repeat center #fff;
    text-align: center;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2;
    overflow: auto;
}*/

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

    /* IMAGE STYLES */
    [type=radio] + .fas {
        cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + .fas {
        text-shadow: 2px 2px 2px #000;
        color: #18BC9C !important;
    }

.pro-details .nav-item {
    height: 50px;
}

.card-product:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}

.card-product .price-new, .card-product .price {
    margin-right: 5px;
}

.card-product .price-old {
    color: #999;
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}

    .card-product .img-wrap img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }

.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}

.card-product .action-wrap {
    padding-top: 4px;
    margin-top: 4px;
}

.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.card-product .title {
    margin-top: 0;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

#LogoField:disabled {
    opacity: 0 !important;
}