@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item ">
            <div class="dropdown show">
                <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="~/asset/images/user_avatar.svg" height="25" alt="avatar" title="Account" />
                </a>

                <div class="dropdown-menu bg-primary" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a>
                    <a class="dropdown-item" href="#">Orders</a>
                    <a class="dropdown-item" href="#">Manage Address</a>
                </div>
            </div>
        </li>
        @*<li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity!</a>
            </li>*@
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Account/Register" ? "active" : "")">
            <a class="nav-link"
               asp-area="Identity"
               asp-page="/Account/Register">
                Register
            </a>
        </li>
        <li class="nav-item @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Account/Login" ? "active" : "")">
            <a class="nav-link"
               asp-area="Identity"
               asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>