@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (Product item in Model)
    {
        <div class="col-md-3">
            <figure class="card card-product">
                <div class="img-wrap">
                    <img src="@item.ImagePath.Split('~')[0]" width="250" height="400" style="object-fit:cover">
                    @*<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>*@
                </div>
                <figcaption class="info-wrap">
                    <h6 class="title text-dots"><a href="#">@item.ProductName</a></h6>
                    <div class="action-wrap">
                        <a href="#" class="btn btn-primary btn-sm float-right"> Order </a>
                        <div class="price-wrap h5">
                            <span class="price-new">&#8377 @item.Price</span>
                            @*<del class="price-old">$1980</del>*@
                        </div> <!-- price-wrap.// -->
                    </div> <!-- action-wrap -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col // -->
    }
</div>