@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        @foreach (Product item in Model)
        {
            <div class="col-md-3">
                <div class="card product-card border-0" style="width: 18rem; height:20rem;">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Product" asp-route-id="@item.Id" role="button" class="text-dark">
                        <img class="card-img-top" src="@item.ImagePath.Split('~')[0]" alt="product" style="max-height:12rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center">@item.ProductName</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="h5">
                                        <span class="price-new">&#122;&#322; @item.Price</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="rating">
                                        <div class="stars">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        <span class="review-no">41 reviews</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>